#code_input{
	height:400px;
	width:48%;
	background-color:#E0E0E0;
	float:left;
	overflow-x:hidden;
	overflow-y:auto;
	outline:none;
	resize:none;
}
#code_show{
	height:400px;
	width:48%;
	overflow-x:hidden;
	overflow-y:auto;
	background-color:#e2e2e2;
	float:left;
	border:1px solid #CCC;
}
/*-----以下为编译组件时所用的样式--------*/

.code{
	background-color:#383838;
	padding:7px;
	border-left:2px solid #ccc;
	border-color:#2196F3;
	border-radius:6px;
	color:white;
	overflow-y:hidden;
	overflow-x:auto;
	width:95%;
	font-size:13px;
}
.code::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
	height: 5px;
}
.code::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
	height: 5px;
}
.code::-webkit-scrollbar {/*滚动条整体样式*/
	height: 5px;
}

codetext{
	background-color:#fb98a312;
	padding:1px;
	padding-left:4px;
	padding-right:4px;
	border:solid 2px #ff001d12;
	border-radius:4px;
	color:#fb98a3;
}
img{
	max-width:90%;
	overflow:scroll;
}